.node_repl_history
.npm
.zsh_history
.zcompdump-*
.Xauthority
.viminfo
.steam*
.pulse-cookie
.cache
.gnome/apps
.gnupg
.local
.mozilla
.nv/ComputeCache
.oh-my-zsh
.pki/nssdb
.pyenv
.redhat
.screenlayout
.ssh
.ViberPC
.vscode
aur
Pictures/Screenshots
Postman
projects
music
go
Downloads
Documents
.lesshst
.docker
.vim
yay
.config/pulseaudio-ctl/