cava
cef_user_data
Code
dconf
dlv
google-chrome
gpick
gtk-2.0
gtk-3.0
htop
kde.org
libreoffice
mc
menus
neofetch
nitrogen
OpenRGB
pgcli
Postman
pulse
ranger
session
Slack
vlc
dolphinrc
kglobalshortcutsrc
kwalletrc
mimeapps.list
okularpartrc
okularrc
QtProject.conf
spectaclerc
pavucontrol.ini
nautilus
KDE/
Trolltech.conf
akregatorrc
baloofilerc
bluedevilglobalrc
discoverrc
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kgammarc
khotkeysrc
khtml/
kmail2rc
kmenueditrc
kmixctrlrc
kmixrc
konquerorrc
konsolerc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
systemsettingsrc
trashrc
user-dirs.dirs
user-dirs.locale
webengineurlinterceptoradblockrc
xsettingsd/
whatsapp-for-linux
