cava
cef_user_data
Code
dconf
dlv
google-chrome
gpick
gtk-2.0
gtk-3.0
htop
kde.org
libreoffice
mc
menus
neofetch
nitrogen
OpenRGB
pgcli
Postman
pulse
ranger
session
Slack
vlc
dolphinrc
kglobalshortcutsrc
kwalletrc
mimeapps.list
okularpartrc
okularrc
QtProject.conf
spectaclerc
pavucontrol.ini
nautilus
